table {
    width: 100%;
    overflow: scroll;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #c1e2f7;
}

.example-element-row td {
    border-bottom-width: 0;
}

.mat-row {
    height: 30px;
    width: fit-content;
}

.example-container {
    height: 68vh;
    overflow: auto;
    padding-right: 60px;
    padding-left: 60px;
}

.mat-elevation-z8 {
    margin: 0 13px;
}

.mat-cell {
    border-top: 1px solid rgb(191, 199, 199);
    border-bottom: 1px solid rgb(191, 199, 199);
    padding: 17px;
}

.mat-paginator {
    padding-left: 60px;
    padding-right: 60px;
}