<mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Choose Product</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="product">
                <mat-option *ngFor="let product of products" [value]="product">
                    {{product.productName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Units</mat-label>
                <input matInput placeholder="Enter 1 or more" [formControl]="units" [value]="0">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Cartons</mat-label>
                <input matInput placeholder="Enter 1 or more" [formControl]="cartons" [value]="0">
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <button class="button" mat-raised-button (click)=addToCart()>Add to Cart</button>
        <button class="button" mat-raised-button (click)=clearCart()>Clear Cart</button>
        <button class="button" mat-raised-button (click)=getTotal()>Calculate Total</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="labeldiv"><label class="label info">Total: {{total}} Rs.</label></div>
    </mat-grid-tile>
</mat-grid-list>